
#maintitle {
	color: red;
	text-align: center;
}

#subtitle {
	text-align: center;
}

#logbox {
	text-align:center
}

#header {
	margin-left:auto;
	margin-right:auto;
	background: url('/img/header.jpg') no-repeat top left;
	height: 200px;
	width: 600px;
}
