
#maintitle {
	color: red;
	text-align: center;
}

#subtitle {
	text-align: center;
}

#logbox {
	text-align:center;
}

#header {
	margin-left:auto;
	margin-right:auto;
	background: url('/img/header.jpg') no-repeat top left;
	height: 200px;
	width: 600px;
}

#menu_bar {
	text-align: center;
}

#checkinbox {
	text-align:center;
}

#profile img{
	float:left;
}

#comments {/*que no se centre el texto, solo el bloque*/
	text-align:center;
}

#comment_form {
	text-align:center;
}

#profile {

}

.subjects_list {
	text-align:center;
}

#loading_page img{
	position: absolute;
    z-index: 9;
}
