{% for comment in comments %}
	<li class="list-group-item">
		<div class="row">
			<div class="col-xs-2 col-md-1">
				<img class="img-rounded img-responsive" alt="foto de perfil" 
				{% if comment.user.userprofile.photo %}
					src="{{comment.user.userprofile.photo.url}}"
				{% else %}
					src="/img/default_profile_img.png"
				{% endif %}
				/>
			</div>
				<div class="col-xs-10 col-md-11">
				<a href="/profile/view/{{comment.user.id}}" class="ajax">
					{{comment.user.first_name}} {{comment.user.last_name}}
				</a>
				<div class="mic-info">
			  		<span class="glyphicon glyphicon-calendar"></span>
					{{comment.date}}
				</div>
				<div class="comment-text">
					{{comment.comment}}
				</div>
			</div>
		</div>
	</li>
{% empty %}
	<li class="list-group-item">
		No hay mensajes
	</li>
{% endfor %}
