{% extends "registration/no_logged_main.html" %}

{% block mainbody %}
	<div id="menu_bar">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="first navbar-brand">
						<span class="glyphicon glyphicon-home"></span> Inicio
					</a>
				</div>
			</div>
		</header>
	</div>
	<div id="menu_bar_space">
		<!--para dejar el espacio que ocupa la barra de menu-->
	</div>
	<h2 id="maintitle">
		¿Has olvidado tu clave? <br/>
		<small>
			Introduce tu direcci&oacute;n de correo a continuaci&oacute;n y te enviaremos por correo 
			electr&oacute;nico las instrucciones para establecer una nueva.
		</small>
	</h2>
	<div class="container" id="email_reset_box">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel">
					<form name="ask_reset" action="" method="POST" class="form-horizontal"
					 id="reset_password">
						<fieldset>
							<legend class="text-center">Restablecer contraseña</legend>
							{% csrf_token %}
							{% if form.errors.email %}
								<div class="alert alert-danger text-center" id="reset_error">
									{{form.errors.email|striptags}}
								</div>
							{% endif %}
							<div class="form-group">
								<label class="col-sm-5 control-label" for="id_email">
									Correo electr&oacute;nico:
								</label>
								<div class="col-sm-7">
									{{form.email}}
								</div>
							</div>
							<button type="submit" class="btn btn-info btn-block"
							 name="reset_pass_submit" >
								<span class="glyphicon glyphicon-wrench"></span>
								Solicitar reseteo
							</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
