{% extends "registration/no_logged_main.html" %}

{% block mainbody %}
	<div id="menu_bar">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="first navbar-brand">
						<span class="glyphicon glyphicon-home"></span> Inicio
					</a>
				</div>
			</div>
		</header>
	</div>
	<div id="over_footer">
		<div id="menu_bar_space">
			<!--para dejar el espacio que ocupa la barra de menu-->
		</div>
		<h2 id="maintitle">Restablecimiento de contraseña exitoso</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="alert alert-success text-center">
						<p>Le hemos enviado un correo electr&oacute;nico con instrucciones para cambiar 
						su contrase&ntilde;a a la direcci&oacute;n que nos ha suministrado. </p>
						<p>Deber&iacute;a recibirlo en breve.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="navbar navbar-fixed-bottom">
			URJCheckIn Jorge Bazaco Caloto &copy; 2014
		</div>
	</footer>
{% endblock %}
