{% extends "registration/no_logged_main.html" %}

{% block mainbody %}
	<div id="menu_bar">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="first navbar-brand">
						<span class="glyphicon glyphicon-home"></span> Inicio
					</a>
				</div>
			</div>
		</header>
	</div>
	<div id="over_footer">
		<div id="menu_bar_space">
			<!--para dejar el espacio que ocupa la barra de menu-->
		</div>
		<h2 id="maintitle">¿Has olvidado tu clave?</h2>
		{% if validlink %}
			<div class="container" id="reset_pass_box">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="panel">
							<form name="reset_password" action="" method="POST" class="form-horizontal"
							 id="reset_password">
								<fieldset>
									<legend class="text-center">Introduzca una nueva contraseña</legend>
									{% csrf_token %}
									<p class="text-center">Por favor, introduzca su contraseña nueva dos
									 veces para verificar que la ha escrito correctamente.</p>
									{% if form.non_field_errors %}
										<div class="alert alert-danger text-center" id="reset_error">
											{{form.non_field_errors}}
										</div>
									{% endif %}
									{% if form.errors.new_password1 %}
										<div class="alert alert-danger text-center" id="reset_error">
											{{form.errors.new_password1}}
										</div>
									{% endif %}
									<div class="form-group">
										<label class="col-sm-5 control-label" for="id_new_password1">
											Contrase&ntilde;a nueva:
										</label>
										<div class="col-sm-7">
											{{form.new_password1}}
										</div>
									</div>
									{% if form.errors.new_password2 %}
										<div class="alert alert-danger text-center" id="reset_error">
											{{form.errors.new_password2}}
										</div>
									{% endif %}
									<div class="form-group">
										<label class="col-sm-5 control-label" for="id_new_password2">
											Confirme contrase&ntilde;a:
										</label>
										<div class="col-sm-7">
											{{form.new_password2}}
										</div>
									</div>
									<button type="submit" class="btn btn-success btn-block"
									 name="reset_pass_submit" >
										<span class="glyphicon glyphicon-save"></span>
										Cambiar mi contrase&ntilde;a
									</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="alert alert-success text-center">
							<p>Restablecimiento de contraseña fallido</p>
							<p>El enlace de restablecimiento de contraseña era inv&aacute;lido,
							 seguramente por haberse utilizado previamente.</p>
							<p>
								Por favor, solicite un 
								<a href="/password_reset/"> nuevo restablecimiento de contraseña</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>

	<footer>
		<div class="navbar navbar-fixed-bottom">
			URJCheckIn Jorge Bazaco Caloto &copy; 2014
		</div>
	</footer>
{% endblock %}
