{% extends "registration/no_logged_main.html" %}

{% block mainbody %}
	<div id="menu_bar">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
		</header>
	</div>
	<div id="over_footer">
		<div id="menu_bar_space">
			<!--para dejar el espacio que ocupa la barra de menu-->
		</div>
		<h2 id="maintitle">
			Restablecimiento de contrase&ntilde;a completado
		</h2>
		<div class="container" id="logged_out_box">
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel">
						<h3>Su contrase&ntilde;a ha sido establecida.<br/>
							Ahora puede seguir adelante e iniciar sesi&oacute;n.<br/>
							<a href="/login">
								<span class="glyphicon glyphicon-log-in"></span> Inicia sesi&oacute;n
							</a>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="navbar navbar-fixed-bottom">
			URJCheckIn Jorge Bazaco Caloto &copy; 2014
		</div>
	</footer>
{% endblock %}
