
<!script src="/jscript/csrf_token.js"script>
<!script src="/jscript/location.js"script>

<h2 id="maintitle">
	URJCheckIn <br/>
	<small>Realiza el Check In</small>
</h2>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="span2 well">
			<form name="checkin" class="form-horizontal" id="checkinbox" onsubmit="checkIn(); return false;">
				{% csrf_token %}
				<fieldset>
					<legend>Check in</legend>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="subject_select">Asignatura:</label>
						<div class="col-sm-10">
							<select id="subject_select" class="btn btn-default" required>
								{% for subject in subjects %}
									<option value="{{subject.id}}">{{subject}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
		
					<div class="form-group">
						<label class="col-sm-2 control-label" for="codeword">C&oacute;digo: </label>
						<div class="col-sm-10">
							<input id="codeword" type="text" name="codeword" maxlength="20" size="15px" autofocus required/>
						</div>
					</div>
					{%if profile.is_student%}
						<div class="form-group">
							<label class="col-sm-2 control-label" for="id_mark">Puntuaci&oacute;n:</label>
							<div class="col-sm-10">
								{{form.mark}}
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="id_comment">Comentario:</label>
							<div class="col-sm-10">
								{{form.comment}}
							</div>
						</div>
					{%endif%}
					<button type="submit" class="btn btn-success btn-block" name="checkin_submit" >
						<span class="glyphicon glyphicon-ok-circle"></span> Check In
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div id="alert_checkin">
</div>



