
<!--
<script src="/jscript/csrf_token.js"script>
<script src="/jscript/location.js"script>
-->

<h2 id="maintitle">
	URJCheckIn <br/>
	<small>Realiza el Check In</small>
</h2>

<!--TODO poner varios metodos en un rectangulo con pestanas, mostrando la de sin js siempre o la primera-->
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="span2 well">
			<form name="checkin" class="form-horizontal" id="checkinbox" method="POST" action="/checkin">
				{% csrf_token %}
				<fieldset>
					<legend>Check in</legend>
					<div id="qr_uploader">
						<label for="qr_input">
							<img height="32" width="32"src="/img/qrcode_icon.png"/>
							Leer c&oacute;digo
						</label>
					</div>
					{% if form.non_field_errors %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.non_field_errors}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_subject" class="form-group">
						<label class="col-sm-4 control-label" for="subject_select">Asignatura:</label>
						<div class="col-sm-8">
							<select id="subject_select" name="subject" class="btn btn-default" required>
								{% for subject in subjects %}
									<option value="{{subject.id}}">{{subject}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					{% if form.errors.codeword %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.codeword}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_codeword" class="form-group">
						<label class="col-sm-4 control-label" for="id_codeword">C&oacute;digo: </label>
						<div class="col-sm-8">
							{{form.codeword}}
						</div>
					</div>
					{% if form.errors.latitude %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.latitude}}
								</div>
							</div>
						</div>
					{% endif %}
					{{form.latitude}}
					{% if form.errors.longitude %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.longitude}}
								</div>
							</div>
						</div>
					{% endif %}
					{{form.longitude}}
					{%if profile.is_student%}
						{% if form.errors.mark %}
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.mark}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_mark" class="form-group">
							<label class="col-sm-4 control-label" for="id_mark">Puntuaci&oacute;n:</label>
							<div class="col-sm-8">
								{{form.mark}}
							</div>
						</div>
						{% if form.errors.comment %}
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.comment}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_comment" class="form-group">
							<label class="col-sm-4 control-label" for="id_comment">Comentario:</label>
							<div class="col-sm-8">
								{{form.comment}}
							</div>
						</div>
					{% else %}
						<div id="group_n_students" class="form-group">
							<label class="col-sm-4 control-label" for="n_students">
								N&uacute;mero de estudiantes:
							</label>
							<div class="col-sm-8">
								<input type="number" step="1" name="n_students" id="n_students" value="0">
							</div>
						</div>
						<input id="id_mark" type="hidden" value="3" name="mark">
					{% endif %}
					{% if msg %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-{% if ok %}success{% else %}danger{% endif %}">
									{{msg|safe}}
								</div>
							</div>
						</div>
					{% endif %}
					<button type="submit" class="btn btn-success btn-block" name="checkin_submit" >
						<span class="glyphicon glyphicon-ok-circle"></span> Check In
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div id="alert_checkin">
</div>

<!--Para leer los codigos qr-->
<input id="qr_input" type="file" onchange="handleFiles(this.files)">
<canvas id="qr-canvas" width="640" height="480"></canvas>
<script>setQRDecoder();</script>


