{% extends "main.html" %}

{% block headscripts %}
	<script src='/lib/jquery-2.0.3.js' type='text/javascript'></script>
	<script src='/lib/jquery.cookie.js' type='text/javascript'></script>
	<script src="/jscript/csrf_token.js"></script>
	<script src="/jscript/location.js"></script>
{% endblock %}


{% block mainbody %}

<h1 id="maintitle">URJCheckIn</h1>
<h3 id= "subtitle">Realiza el Check In de la clase/seminario {info clase}</h3>

<form name="checkin" id="checkinbox" onsubmit="checkIn(); return false;">
	{% csrf_token %}
	<label for="codeword">C&oacute;digo: </label>
	<input id="codeword" type="text" name="codeword" maxlength="20" size="15px" autofocus required/>
	<button type="submit" name="checkin_submit" >Check In</button>
</form>

{% endblock %}

