
<h2 id="maintitle">{{lesson}}</h2>

<div id="class_info" class="row"> 
	<dl class="dl-horizontal col-md-10 col-md-offset-1 fields">
		<div class="span2 well">
			<dt>{% if lesson.subject.is_seminar %}Seminario{% else %}Asignatura{% endif %}: </dt>
			<dd>
				<a href="/subjects/{{subject.id}}" class="ajax">
					{{lesson.subject.name}}
				</a>
			</dd>
			<dt>Estado: </dt>
			<dd>{{lesson_state|safe}}</dd>
			<dt>N&uacute;mero de alumnos: </dt> <dd>{{subject.n_students}} </dd>
			{% if lesson_state != "sin realizar" %}
				<dt>Asistencia: </dt>
				{% if lesson.done %}
					<dd>
						{{lesson.checkin_percent}}%
						{% if not profile.is_student %}
							(hicieron checkin {{lesson.n_stud_checkin}} alumnos
							de {{lesson.students_counted}} alumnos contados)
						{% endif %}
					</dd>
					<dt>Puntuaci&oacute;n media: </dt> <dd>{{lesson.avg_mark}}</dd>
				{% else %}
					<dd>No asisti&oacute; el profesor</dd>
				{% endif %}
			{% endif %}
			<dt>Fecha: </dt>
			<dd>{{lesson.start_time|date:'d-m-Y H:i'}}/{{lesson.end_time|date:'H:i'}}</dd>
			<dt>Profesor{{profesors|length|pluralize:"es"}}: </dt>
			<dd>
				<ul id="profesor_list">
					{% for prof in profesors %}
						<li>
							<a class="ajax" href="/profile/view/{{prof.user.id}}">
								{{prof.user.first_name}} {{prof.user.last_name}}
							</a>
						</li>
					{% empty %}
						La clase no es impartida por ning&uacute;n profesor.
					{%endfor%}
				</ul>
			</dd>
			<dt>Aula: </dt> 
			<dd>{{lesson.room}}</dd>
		</div>
	</dl>
</div>

<div id="class_coments" class="row"><!--partiendo de http://bootsnipp.com/snippets/featured/recent-comments-admin-panel-->
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default comments">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Comentarios de{{profesors|length|pluralize:"l, los"}} profesor{{profesors|length|pluralize:"es"}}
			</div>
			<ul class="list-group">
				{%if not profile.is_student%}<!--no se todavia si solo comenta el profesor o todos-->
					<li class="list-group-item">
						<form name="comment_form" id="comment_form" action="/class/{{lesson.id}}"
						 method="POST">
							{% csrf_token %}
							<textarea rows="3" maxlength="150" placeholder="Escribe un comentario..." required  id="comment_field" name="comment" class="form-control"></textarea>
							<div class="row">				
								<button type="submit" name="comment_submit" id="comment_button" class="btn btn-success btn-block">
									<span class="glyphicon glyphicon-send"></span> Comentar
								</button> 
							</div>
						</form>
					</li>
				{%endif%}
				<a id="ask_newer" class="btn btn-primary btn-sm btn-block" role="button"
					{% if comments.has_previous %}
						href="?page={{comments.previous_page_number}}"
					{% else %}
						href="?page=1" 
					{% endif %}
					{% with comments|first as first_comment %}
						{% if first_comment %}}
							onClick="askComments({{first_comment.id}}, {{lesson.id}}, true); 
									return false;">
						{% else %}
							onClick="askComments(0, {{lesson.id}}, true);return false;">
						{% endif %}
					{% endwith %}
					<span class="glyphicon glyphicon-refresh"></span> Nuevos mensajes
				</a>
				<div id="comment_list">
					{% include 'pieces/comments.html' %}
				</div>
			</ul>

			<div class="panel-footer">
				{% if comments.has_next %}
					<a id="ask_older" href="?page={{comments.next_page_number}}" 
						class="btn btn-primary btn-sm btn-block" role="button"
						{% with comments|last as last_comment %}
							onClick="askComments({{last_comment.id}}, {{lesson.id}}, false); 
									return false;">
						{% endwith %}
						<span class="glyphicon glyphicon-refresh"></span> Mensajes anteriores
					</a>
				{% else %}
					<div class="btn btn-primary btn-sm btn-block disabled">
						No hay mensajes anteriores
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{%if not profile.is_student%}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			{%ifequal lesson_state "sin realizar"%}
				<a id="edit_class_button" class="btn btn-warning btn-block ajax"
				 href="/class/{{lesson.id}}/edit">
					<span class="glyphicon glyphicon-pencil"></span> Editar clase
				</a>
			{% else %}
				<div class="panel panel-default comments">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment"></span> Opiniones de los alumnos
					</div>
					<ul class="list-group">
						{% for opinion in opinions %}
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-10 col-md-11">
										<div class="comment-student">
											{{opinion.mark}}
											<span class="glyphicon glyphicon-star"></span>
											{{opinion.comment}}
										</div>
									</div>
								</div>
							</li>
						{% empty %}
							<li class="list-group-item">No asisti&oacute; ning&uacute;n alumno</li>
						{% endfor %}
					</ul>
				</div>
			{% endifequal %}
		</div>
	</div>
{%endif%}

