<!--TODO Este fichero tiene muchos elementos con los atributos justos para empezar a ver como queda, hay que poner mas atributos a muchos elementos-->

<h2 id="maintitle">{{lesson}}</h2>

<div id="class_info" class="row"> 
	<dl class="dl-horizontal col-md-10 col-md-offset-1 fields">
		<div class="span2 well">
			<dt>Estado: </dt>
			<dd>{{lesson_state|safe}}</dd>
			{% ifequal lesson_state "sin realizar" %}
				<dt>N&uacute;mero de alumnos: </dt> <dd>{{subject.n_students}} </dd>
			{% else %}
				<dt>Asistencia: </dt> <dd>{{lesson.checkin_percent}}%</dd>
				<dt>Puntuaci&oacute;n media: </dt> <dd>{{lesson.avg_mark}}</dd>
			{% endifequal %}
			<dt>Fecha: </dt>
			<dd>{{lesson.start_time|date:'d-m-Y H:i'}}/{{lesson.end_time|date:'H:i'}}</dd>
			<dt>Profesor{{profesors|length|pluralize:"es"}}: </dt>
			<dd>
				<ul id="profesor_list">
					{% for prof in profesors %}
						<li>
							<a onClick="ask_ajax_page('profile', loadAjaxPage, 
							{'iduser': '{{prof.user.id}}'}); return false;" 
							href="/profile/view/{{prof.user.id}}">
								{{prof.user.first_name}} {{prof.user.last_name}}
							</a>
						</li>
					{% empty %}
						La clase no es impartida por ning&uacute;n profesor.
					{%endfor%}
				</ul>
			</dd>
			<dt>Aula: </dt> 
			<dd>{{lesson.room}}</dd>
			<dt>More: </dt>
			<dd>{more}</dd>
		</div>
	</dl>
</div>

<div id="class_coments" class="row"><!--partiendo de http://bootsnipp.com/snippets/featured/recent-comments-admin-panel-->
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default comments">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Comentarios de{{profesors|length|pluralize:"l, los"}} profesor{{profesors|length|pluralize:"es"}}
			</div>
			<ul class="list-group">
				{%if not profile.is_student%}<!--no se todavia si solo comenta el profesor o todos-->
					<li class="list-group-item">
						<!--TODO procesar el envio de mensajes-->	
						<form name="comment_form" id="comment_form" action="" method="POST" 
							onsubmit="sendClassComment({{lesson.id}}); return false;">
							{% csrf_token %}
							<textarea rows="3" maxlength="150" placeholder="Escribe un comentario..." required  id="comment_field" name="comment" class="form-control"></textarea>
							<input type="hidden" value="comment" name="action">
							<div class="row">				
								<button type="submit" name="comment_submit" id="comment_button" class="btn btn-success btn-block">
									<span class="glyphicon glyphicon-send"></span> Comentar
								</button> 
							</div>
						</form>
					</li>
				{%endif%}
				{% for comment in comments %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-xs-2 col-md-1">
								<img src="http://placehold.it/80" class="img-rounded img-responsive" alt="" />
							</div>
							<div class="col-xs-10 col-md-11">
								<a onClick="ask_ajax_page('profile', loadAjaxPage, {'iduser': '{{comment.user.id}}'}); return false;" href="/profile/view/{{comment.user.id}}">
									{{comment.user.first_name}} {{comment.user.last_name}}
								</a>
								<div class="mic-info">
							  		<span class="glyphicon glyphicon-calendar"></span>
									{{comment.date}}
								</div>
								<div class="comment-text">
									{{comment.comment}}
								</div>
							</div>
						</div>
					</li>
				{% empty %}
					<li class="list-group-item">No hay comentarios</li>
				{% endfor %}
			</ul>
			<div class="panel-footer">
				<a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> Mensajes anteriores</a>
			</div>
		</div>
	</div>
</div>

{%if not profile.is_student%}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			{%ifequal lesson_state "sin realizar"%}
				<div class="well">
					<form name="change_class" class="form-horizontal" id="change_date">
						<fieldset>
							<legend>Editar clase</legend>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="id_date">
									Cambiar fecha:
								</label>
								<div class="col-sm-10">
									<input id="id_date" type="datetime-local" required>
									<!--TODO no sale en firefox!!!!-->
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="id_room">
									Aula:
								</label>
								<div class="col-sm-10">
									<input id="id_room" type="number" required>
								</div>
							</div>
							<button type="button" class="btn btn-info btn-block">
								<span class="glyphicon glyphicon-refresh"></span> Ver aulas
							</button><!--TODO javascript pregunta aulas libres-->
							<button type="submit" class="btn btn-success btn-block">
								<span class="glyphicon glyphicon-save"></span> Cambiar fecha
							</button><!--TODO envio js y procesado django-->
							<!--TODO? ver horarios libres alumnos-->
						</fieldset>
					</form>
					<!--TODO si la ha creado el profesor la puede borrar tambien-->
				</div>
			{% else %}
				<div class="panel panel-default comments">
					<div class="panel-heading">
						<span class="glyphicon glyphicon-comment"></span> Opiniones de los alumnos
					</div>
					<ul class="list-group">
						{% for opinion in opinions %}
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-10 col-md-11">
										<div class="comment-student">
											{{opinion.mark}}
											<span class="glyphicon glyphicon-star"></span>
											{{opinion.comment}}
										</div>
									</div>
								</div>
							</li>
						{% empty %}
							<li class="list-group-item">No asisti&oacute; ning&uacute;n alumno</li>
						{% endfor %}
					</ul>
				</div>
			{% endifequal %}
		</div>
	</div>
{%endif%}

