
<!script src="/jscript/csrf_token.js" type="text/javascript"script>
<!script src='/jscript/basic.js' type='text/javascript'script>
<!script src="/jscript/forum.js" type="text/javascript"script>


<h1 id="maintitle">Foro de URJCheckIn</h1>

<form name="comment_form" id="comment_form" onsubmit="sendComment(); return false;" action="" method="POST">
	{% csrf_token %}
	<textarea rows="3" cols="50" maxlength="150" placeholder="Escribe un comentario..." required  id="comment_field" name="comment">
	</textarea>
	<button type="submit" name="comment_submit" id="comment_button">Comentar</button> 
</form>
<dl id="comments">
	{% for comment in comments %}
		<div class="comment">
			<dt class="nick_comment">
				<!add foto de perfil>
				<a href="/profile/view/{{comment.user.id}}">
					{{comment.user.name}} {{comment.user.surname1}} {{comment.user.surname2}}
				</a>
			</dt>
			<dd class="content_comment">{{comment.content}}</dd>
		</div>
	{% endfor %}
</dl>

