<h2 id="maintitle">
	URJCheckIn <br/>
	<small>P&aacute;gina de ayuda</small>
</h2>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		URJCheckIn es una p&aacute;gina para controlar la asistencia a clase, tanto de los alumnos
		como de los profesores.
		Adem&aacute;s es una herramienta que permite a los profesores obtener un feedback sobre sus
		clases, para poder reforzar sus puntos d&eacute;biles y mantener sus puntos fuertes; as&iacute;
		como detectar anomal&iacute;s en alguna asignatura o con alg&uacute;n profesor.
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">F.A.Q.s (Preguntas frecuentes)</h3>
			</div>
			<ul id="tasks" class="list-group lessons_list">
				<li class="list-group-item">
					<p>¿C&oacute;mo registro mi asistencia a una clase?</p>
					<p>
						Durante la clase debes acceder a la pesta&ntilde;a
						<a href="{% url 'checkin' %}">CheckIn</a>, elegir la asignatura o seminario
						de la clase a la que est&aacute;s asistiendo e introducir el 
						<a href="#faq_codeword">c&oacute;digo de la clase</a> o bien 
						<a href="#faq_geolocation">registrarte con tu localizaci&oacute;n</a> o con ambas.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
