
<h2 id="maintitle">
	URJCheckIn <br/>
	<small>Bienvenido a la p&aacute;gina</small>
</h2>

<div class="panel panel-default calendar">
	<div class="panel-heading">
		<div class="row">
			<div class="previous_week col-xs-2">
		  		<a href="?page={{previous}}" class="btn btn-default btn-block"
				 onClick="ask_ajax_page('home', loadAjaxPage, {'week':'{{previous}}'}); return false;">
					&laquo;
				</a>
			</div>
			<div class="title col-xs-8">Calendario</div>
			<div class="next_week col-xs-2">
				<a href="?page={{next}}" class="btn btn-default btn-block"
				 onClick="ask_ajax_page('home', loadAjaxPage, {'week':'{{next}}'}); return false;">
					&raquo;
				</a>
			</div>
		</div>
		<div class="row">
			<div class="date">
				<span id="first_day_week">{{firstday|date:'d-m-Y'}}</span> /
				<span id="last_day_week">{{lastday|date:'d-m-Y'}}</span>
			</div>
		</div>
	</div>
	<div class="panel-body">
		{% for day in events %}
			<div class="col-sm-2 dia">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">{{day.day|safe}}</h3>
					</div>
					<ul class="list-group classes_list events">
						{% for event in day.events %}
							<a onClick="ask_ajax_page('class_info', loadAjaxPage, {'idclass': {{event.id}}}); return false;" href="/class/{{event.id}}" class="list-group-item">
								<strong>{{event.subject}}</strong><br/>
								{{event.start_time|date:'H:i'}}-{{event.end_time|date:'H:i'}}
							</a>
						{% empty %}
							<li>No hay eventos este d&iacute;a</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

