<!DOCTYPE html>

<html lang="es">

	<head>
		<title>URJChekIn</title>
		<link rel="shortcut icon" href="/img/favicon.ico"/>
		<link href="/css/main.css" rel="stylesheet" type="text/css"/>
		{% block headscripts %}{% endblock %}
	</head>


	<body>
		<div id="header">
			<!imagen cabecera>
		</div>

		<div id="menu_bar">
			<a href="/">Inicio </a>
			<a href="/profile/view/nick">| Profile </a>
			<a href="/checkin">| Checkin </a>
			<a href="/forum">| Foro </a>
		</div>

		<div id="mainbody">
			{% block mainbody %}{% endblock %}
		</div>
	</body>


</html>
