
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<form name="new_class" class="form-horizontal" id="new_class"
			 onsubmit="createLesson(); return false;" action="" method="POST">
				<fieldset>
					<legend>Crear clase de {{subject}}</legend>
					{% csrf_token %}
					{% if form.non_field_errors %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.non_field_errors}}
								</div>
							</div>
						</div>
					{% endif %}
					{% if form.errors.start_time %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.start_time}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_start_time" class="form-group">
						<label class="col-sm-2 control-label" for="id_start_time_0">Inicio:</label>
						<div class="col-sm-10">
							{{form.start_time}}
						</div>
					</div>
					{% if form.errors.end_time %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.end_time}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_end_time" class="form-group">
						<label class="col-sm-2 control-label" for="id_end_time_0">Fin:</label>
						<div class="col-sm-10">
							{{form.end_time}}
						</div>
					</div>
					{% if form.errors.room %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.room}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_room" class="form-group">
						<label class="col-sm-2 control-label" for="id_room">Aula:</label>
						<div class="col-sm-10">
							{{form.room}}
						</div>
					</div>
					<button type="submit" class="btn btn-success btn-block" name="create_submit" >
						<span class="glyphicon glyphicon-save"></span> Crear clase
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<a id="back_to_subject" class="btn btn-danger btn-block" href="/subjects/{{subject.id}}"
	 onclick="ask_ajax_page('/subjects/{{subject.id}}', loadAjaxPage); return false;">
	<span class="glyphicon glyphicon-chevron-left"></span> Volver a {{subject}}
</a>
