<!--Si no hay perfil lo unico que se muestra es el forumlario para cabiar la password
	en caso de estar visitandose la pagina del propio usuario -->
{% if profile %}
	<h2 id="maintitle">
		Perfil de {{profile.user.first_name}} {{profile.user.last_name}}
	</h2>

	<div class="row">
		<div id="profile">
			<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-1">
				<img alt="foto de perfil" class="img-rounded img-responsive" id="profile_img"
					{% if profile.photo %}
						src="{{profile.photo.url}}"
					{% else %}
						src="/img/default_profile_img.png"
					{% endif %}
				 >
			</div>
			<dl class="dl-horizontal fields col-xs-12 col-sm-8 col-sm-offset-0">
				<div class="span2 well">
					<dt>Nombre: </dt>
					<dd id="name_profile">{{profile.user.first_name}} {{profile.user.last_name}}.</dd>
					<dt>Edad: </dt>
					<dd id="age_profile">{{profile.age}}</dd>
					<dt>Descripci&oacute;n: </dt>
					<dd id="desc_profile">
						{% if profile.description %}
							{{profile.description}}
						{% else %}
							<i>El usuario no ha aportado informaci&oacute;n.</i>
						{% endif %}
					</dd>
					{% if profile.is_student %}
						<dt>Estudia: </dt>
					{% else %}
						<dt>Ense&ntilde;a: </dt>
					{% endif %}
					<dd>
						{% for degree in profile.degrees.all %}
							{% if not forloop.first %}
								,
							{% endif %}
							{{degree.name}}
						{% empty %}
							<i>Nada.</i>
						{% endfor %}
					</dd>
					<dt>Asignaturas: </dt>
					<dd>
						{% for subject in profile.subjects.all %}
							{% if not forloop.first %}
								,
							{% endif %}
							<a href="{% url 'subject' subject.id %}" class="ajax">
								{{subject.name}}
							</a>
						{% empty %}
							<i>Ninguna.</i>
						{% endfor %}
					</dd>
					{% if profile.user.email and profile.show_email %}
						<dt class="email_profile">e-mail: </dt>
						<dd class="email_profile">{{profile.user.email}}</dd>
					{% endif %}
				</div>
			</dl>
		</div>
	</div>
{% endif %}

{% url 'profile' request.user.id as the_user_url %}
{%if the_user_url == request.path %}
	{% if profile %}
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1"> 
				<button name="show_form" class="btn btn-primary btn-block hidden" id="show_form">
					<span class="glyphicon glyphicon-pencil"></span> Editar perfil
				</button>
			</div>
		</div>
		<div id="editing_profile">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="span2 well">
						<form name="photo_form" id="photo_form" method="POST" enctype="multipart/form-data"
						 action="{% url 'change_profile_img' 'edit' %}" class="unsetted_form">
							{% csrf_token %}
							<fieldset>
								<legend>Imagen de perfil</legend>
								{{form_img.photo}}
							</fieldset>
							<br/>
							<button type="submit" name="checkin_submit" id="save_image" 
									class="btn btn-success btn-block">
								<span class="glyphicon glyphicon-save"></span> Cambiar foto
							</button>
						</form>
						<br/>
						<form name="delete_prof_img" id="delete_prof_img"
						 action="{% url 'change_profile_img' 'delete' %}"
						 method="POST">
							<div col-xs-12>
								{% csrf_token %}
								<input name="action" value="delete" type="hidden">
								<button type="submit" class="btn btn-danger btn-block" name="delete_submit" >
									<span class="glyphicon glyphicon-remove"></span>
									Eliminar mi foto de perfil
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="span2 well">
						<form name="profile_form" class="form-horizontal" id="profile_form"
						 action="{% url 'profile' request.user.id %}" method="POST">
							{% csrf_token %}
							<fieldset>
								<legend>Informaci&oacute;n del perfil</legend>
								{% if form.non_field_errors %}
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="alert alert-danger">
												{{form.non_field_errors}}
											</div>
										</div>
									</div>
								{% endif %}
								<div class="form-group">
									<label for="id_name" class="col-sm-2 control-label">Nombre:</label>
									<div class="col-sm-10">
										<input id="id_name" type="text" name="name" maxlength="30"
										 disabled="disabled" 
										value="{{profile.user.first_name}} {{profile.user.last_name}}">
									</div>
								</div>
								{% if form.errors.age %}
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="alert alert-danger">
												{{form.errors.age}}
											</div>
										</div>
									</div>
								{% endif %}
								<div id="group_age" class="form-group">
									<label for="id_age" class="col-sm-2 control-label">Edad:</label>
									<div class="col-sm-10">
										{{form.age}}
									</div>
								</div>
								{% if form.errors.description %}
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="alert alert-danger">
												{{form.errors.description}}
											</div>
										</div>
									</div>
								{% endif %}
								<div id="group_description" class="form-group">
									<label for="id_description" class="col-sm-2 control-label">
										Descripci&oacute;n:
									</label>
									<div class="col-sm-10">
										{{form.description}}
									</div>
								</div>
								{% if form.errors.show_email %}
									<div class="row">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="alert alert-danger">
												{{form.errors.show_email}}
											</div>
										</div>
									</div>
								{% endif %}
								<div id="group_show_email" class="form-group">
									<label for="id_show_email" class="col-sm-2 control-label">
										e-mail p&uacute;blico:
									</label>
									<div class="col-sm-10">
										{{form.show_email}}
									</div>
								</div>
							</fieldset>
							<button type="submit" name="checkin_submit" id="save_changes" 
									class="btn btn-success btn-block">
								<span class="glyphicon glyphicon-save"></span>Guardar Cambios
							</button>
						</form>
					</div>
				</div>
			</div>
		{% endif %}
<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="span2 well">
					<form name="email_form" class="form-horizontal" id="email_form"
					 action="{% url 'email_change' %}" method="POST">
						{% csrf_token %}
						<fieldset>
							<legend>Cambiar e-mail</legend>
							<div id="group_email" class="form-group">
								<label class="col-sm-3 control-label" for="id_email">
									e-mail:
								</label>
								<div class="col-sm-9">
									{{email_form.email}}
								</div>
							</div>
						</fieldset>
						<button type="submit" name="email_submit" id="change_email_button" 
								class="btn btn-success btn-block">
							<span class="glyphicon glyphicon-save"></span> Cambiar e-mail
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="span2 well">
					<form name="password_form" class="form-horizontal" id="password_form"
					 action="/password_change/" method="POST">
						{% csrf_token %}
						<fieldset>
							<legend>Cambiar contrase&ntilde;a</legend>
							<div id="group_old_password" class="form-group">
								<label class="col-sm-3 control-label"
								 for="old_password">
									Contrase&ntilde;a antigua:
								</label>
								<div class="col-sm-9">
									<input id="old_password" type="password" maxlength="4096" name="old_password">
								</div>
							</div>
						
							<div id="group_new_password1" class="form-group">
								<label class="col-sm-3 control-label"
								 for="id_new_password1">
									Contrase&ntilde;a nueva:
								</label>
								<div class="col-sm-9">
									<input id="new_password1" type="password" maxlength="4096" name="new_password1">
								</div>
							</div>
						
							<div id="group_new_password2" class="form-group">
								<label class="col-sm-3 control-label" for="new_password2">Repetir contrase&ntilde;a:</label>
								<div class="col-sm-9">
									<input id="new_password2" type="password" maxlength="4096" name="new_password2">
								</div>
							</div>
						</fieldset>
						<button type="submit" name="password_submit" id="password_button" 
								class="btn btn-success btn-block">
							<span class="glyphicon glyphicon-save"></span> Cambiar contrase&ntilde;a
						</button>
					</form>
				</div>
			</div>
		</div>
	{% if profile %}
			<button name="hide_form" class="btn btn-danger btn-block hidden" id="hide_form">
					<span class="glyphicon glyphicon-remove"></span> Cancelar y volver al perfil
			</button>
		</div>
		<br/>

		<!-- si hay javascript esconde la edicion de perfil, que se podra mostrar
			pulsando el boton, en caso contrario se mostrara directamente -->
		<script>
			cancelEditProfile('{{profile.user.id}}');
			$('#hide_form').removeClass('hidden');
		</script>
	{% endif %}
{%endif%}

