
<div id="profile">
	<!Cambiar lo de iduser>
	<img src={{'"/profile/img/'|add:user.id|add:'"'|safe}} alt="foto de perfil" height="60" width="60">
	<div class="fields">
		<strong>Nombre: </strong> <span id="name_profile">{{user.name}} {surname1} {surname2}</span>
		<br/>
		<strong>Edad: </strong> <span id="age_profile">{age}</span>
		{% if user.student %}
			<br/>
			info exclusiva alumno
		{% else %}
			<br/>
			info exclusiva profesor
		{% endif %}
	</div>
</div>

{if estoy_mirando_mi_perfil}
	<form  name="profile_form" id="profile_form" style="display:none"
			onsubmit={{"\"sendChanges('"|add:user.id|add:"'); return false;\""|safe}}>
	<!input type="file" accept="image/*"/>
	<label for="id_name">Nombre:</label>
	{{form.name}}
	<br/>
	<label for="id_age">Edad:</label>
	{{form.age}}
	<br/>
	</form>

	<script src='/jscript/basic.js' type='text/javascript'></script>
	<script src='/jscript/edit_profile.js' type='text/javascript'></script>
	<br/>
	<button name="show_form" onclick={{"\"showEditProfile('"|add:user.id|add:"')\""|safe}} id="show_form">Editar perfil</button>
	<img src="/img/loading.gif" id="saving_profile" alt="cargando" height="16" width="16" style="display:none">

	<div id="extra_classes">
		<script src="/jscript/csrf_token.js" type="text/javascript"></script>
		<script src="/jscript/extra_class.js" type="text/javascript"></script>
		{% if user.student %}
			{% for class in classes %}
				<br/>
				<div id={{'"xc_'|add:class.id|add:'"'|safe}}>
					{{class.name}}
					<button onclick={{"\"uncheckClass('"|add:class.id|add:"')\""|safe}} name="desapuntarse">desapuntarse</button> 
				</div>
			{% endfor %}
		{% else %}
			{% for class in classes %}
				<br/>
				<div id={{'"xc_'|add:class.id|add:'"'|safe}}> 
					{{class.name}}
					<button onclick={{"\"deleteClass('"|add:class.id|add:"')\""|safe}} name="cancelar">cancelar</button> 
				</div>
			{% endfor %}
		{% endif %}
	</div>
{end if}

