<div id="profile">
	<!Cambiar lo de iduser>
	<img src="/profile/img/iduser" alt="foto de perfil" height="60" width="60">
	<strong>Nombre: </strong>{firstname} {surname1} {surname2}
	<br/>
	<strong>Edad: </strong>{age}
	{if profesor}
		<br/>
		info exclusiva profesor
	{elif alumno}
		<br/>
		info exclusiva alumno
	{end if}
</div>

{if estoy_mirando_mi_perfil}
	<div id="extra_classes">
		<script src="/jscript/csrf_token.js"></script>
		<script src="/jscript/extra_class.js"></script>
		{if profesor}
			<br/>
			<div id="xc_dummyid1"> 
				clases extra con la opcion de quitarlas
				<button onclick="deleteClass('dummyid1')" name="cancelar">cancelar</button> 
				<!hacerlo con javascript para que no se recargue la pagina>
			</div>
		{elif alumno}
			<br/>
			<div id="xc_dummyid2">
				seminarios apuntados con la opcion de desapuntarse</span>
				<button onclick="uncheckClass('dummyid2')" name="desapuntarse">desapuntarse</button> 
			</div>
		{end if}
	</div>
{end if}
