<script type="text/javascript" src="/lib/jsqrcode/src/grid.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/version.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/detector.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/formatinf.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/errorlevel.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/bitmat.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/datablock.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/bmparser.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/datamask.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/rsdecoder.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/gf256poly.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/gf256.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/decoder.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/qrcode.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/findpat.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/alignpat.js"></script>
<script type="text/javascript" src="/lib/jsqrcode/src/databr.js"></script>
