<h2 id="maintitle">
	Reporte de problemas
</h2>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="well">
			<form name="report_problem" class="form-horizontal" id="report_problem"
			 action="{% url 'reports' %}" method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Reportar problema</legend>
					{% if form.non_field_errors %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.non_field_errors}}
								</div>
							</div>
						</div>
					{% endif %}
					{% if form.errors.url %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.url}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_url" class="form-group">
						<label class="col-sm-2 control-label" for="id_url">Url:</label>
						<div class="col-sm-10">
							{{form.url}}
						</div>
					</div>
					{% if form.errors.ask %}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="alert alert-danger">
									{{form.errors.ask}}
								</div>
							</div>
						</div>
					{% endif %}
					<div id="group_ask" class="form-group">
						<label class="col-sm-2 control-label" for="id_ask">Problema:</label>
						<div class="col-sm-10">
							{{form.ask}}
						</div>
					</div>
					
					<button type="submit" class="btn btn-primary btn-block" name="seminar_submit" >
						<span class="glyphicon glyphicon-send"></span> Enviar
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div id="my_reports">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Mis reportes</h3>
				</div>
				<ul id="reports_list" class="list-group">
					{% if reports.has_previous %}
						<a id="ask_newer" class="btn btn-primary btn-sm btn-block" role="button"
						 href="?page={{reports.previous_page_number}}"
						 {% with reports|first as first_report %}
							 onClick="askReports({{first_report.id}}, true);return false;">
						 {% endwith %}
							<span class="glyphicon glyphicon-refresh"></span>
								Reportes m&aacute;s recientes
						</a>
					{% endif %}
					{% include 'pieces/reports.html' %}
					<div class="panel-footer">
						{% if reports.has_next %}
							<a id="ask_older" href="?page={{reports.next_page_number}}" 
								class="btn btn-primary btn-sm btn-block" role="button"
								{% with reports|last as last_report %}
									onClick="askReports({{last_report.id}}, false); return false;">
								{% endwith %}
								<span class="glyphicon glyphicon-refresh"></span> Reportes anteriores
							</a>
						{% else %}
							<div class="btn btn-primary btn-sm btn-block disabled">
								No hay m&aacute;s reportes
							</div>
						{% endif %}
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
