<h2 id="maintitle">
	Pr&oacute;ximos seminarios <br/>
	<small>
	{% if profile.is_student %}
		Inscr&iacute;bete en alg&uacute;n seminario
	{% else %}
		Organiza alg&uacute;n seminario
	{% endif %}
	</small>
</h2>

{% if not profile.is_student %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<form name="create_seminar" class="form-horizontal" id="create_seminar" onsubmit="createSeminar(); return false;" action="" method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Nuevo Seminario</legend>
					<div class="form-group">
						{% if form.errors.non_field_errors %}
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.non_field_errors}}
									</div>
								</div>
							</div>
						{% endif %}
						{% if form.errors.name %}
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.name}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_name" class="form-group">
							<label class="col-sm-2 control-label" for="id_name">Nombre:</label>
							<div class="col-sm-10">
								{{form.name}}
							</div>
						</div>
						{% if form.errors.degrees %}<!--Por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.degrees}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_degrees" class="form-group">
							<label class="col-sm-2 control-label" for="id_degrees">Grados:</label>
							<div class="col-sm-10">
								{{form.degrees}}
							</div>
						</div>
						{% if form.errors.first_date %}<!--Por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.first_date}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_first_date" class="form-group">
							<label class="col-sm-2 control-label" for="id_first_date">Inicio: </label>
							<div class="col-sm-10">
								{{form.first_date}}
								<!-- TODO problema con internet explorer y firefox-->
							</div>
						</div>
						{% if form.errors.last_date %}<!--Por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.last_date}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_last_date" class="form-group">
							<label class="col-sm-2 control-label" for="id_last_date">Fin: </label>
							<div class="col-sm-10">
								{{form.last_date}}
								<!-- TODO problema con internet explorer y firefox-->
							</div>
						</div>
						{% if form.errors.max_students %}<!--Por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.max_students}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_max_students" class="form-group">
							<label class="col-sm-2 control-label" for="id_max_students">Plazas:</label>
							<div class="col-sm-10">
								{{form.max_students}}
							</div>
						</div>
						{% if form.errors.description %}<!--Por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{form.errors.description}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_description" class="form-group">
							<label class="col-sm-2 control-label" for="id_description">
								Descripci&oacute;n:
							</label>
							<div class="col-sm-9">
								{{form.description}}
							</div>
						</div>
						<button type="submit" class="btn btn-success btn-block" name="seminar_submit" >
							<span class="glyphicon glyphicon-save"></span> Crear
						</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div id="seminars">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Pr&oacute;ximos seminarios</h3>
				</div>
				<ul class="seminars_list list-group">
					{% for seminar in seminars %}
						<a onClick="ask_ajax_page('/subjects/{{seminar.id}}', loadAjaxPage);
						 return false;" href="/subjects/{{seminar.id}}" class="list-group-item">
							{{seminar.name}}<br/>
							<em>{{seminar.first_date|date:'d-m-Y'}}/{{seminar.last_date|date:'d-m-Y'}}</em>
						</a>
					{% empty %}
						<li class="list-group-item">
							No hay seminarios organizados
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
