
<h1 id="maintitle">Clases</h1>

<h2 class="subtitle">Pr&oacute;ximas clases</h1>

{% for class in classes %}
	<ul id="subjects_list">
		<li><a onClick="ask_ajax_page('class_info', loadAjaxPage, {'idclass': {{class.id}}}); return false;" href="/class/{{class.id}}">
			{{class.name}}
		</a></li>
	</ul>
{% endfor %}
<!boton para cargar mas>
<br/>
<h2 class="subtitle">&Uacuteltimas clases</h1>

{% for class in classes %}
	<ul id="subjects_list">
		<li><a onClick="ask_ajax_page('class_info', loadAjaxPage, {'idclass': {{class.id}}}); return false;" href="/class/{{class.id}}">
			{{class.name}} QUE PONGA SI HAY CHECKIN
		</a></li>
	</ul>
{% endfor %}
<!boton para cargar mas>

