{% if request.user == subject.creator %}
	<!-- El creador del seminario puede modificarlo -->
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<form name="edit_subject" class="form-horizontal" id="edit_subject"
			 onsubmit="editSubject('edit_seminar'); return false;" action="" method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>Editar {{subject}}</legend>
					<div class="form-group">
						{% if errors %}<!--TODO mirar por si se hizo un POST erroneo sin ajax-->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="alert alert-danger">
										{{errors}}
									</div>
								</div>
							</div>
						{% endif %}
						<div id="group_name" class="form-group">
							<label class="col-sm-2 control-label" for="id_name">Nombre:</label>
							<div class="col-sm-10">
								{{form.name}}
							</div>
						</div>
						<div id="group_degrees" class="form-group">
							<label class="col-sm-2 control-label" for="id_degrees">Grados:</label>
							<div class="col-sm-10">
								{{form.degrees}}
							</div>
						</div>
		
						<div id="group_first_date" class="form-group">
							<label class="col-sm-2 control-label" for="id_first_date">Inicio: </label>
							<div class="col-sm-10">
								{{form.first_date}}
							</div>
						</div>

						<div id="group_last_date" class="form-group">
							<label class="col-sm-2 control-label" for="id_last_date">Fin: </label>
							<div class="col-sm-10">
								{{form.last_date}}
							</div>
						</div>

						<div id="group_max_students" class="form-group">
							<label class="col-sm-2 control-label" for="id_max_students">Plazas:</label>
							<div class="col-sm-10">
								{{form.max_students}}
							</div>
						</div>

						<div id="group_description" class="form-group">
							<label class="col-sm-2 control-label" for="id_description">
								Descripci&oacute;n:
							</label>
							<div class="col-sm-9">
								{{form.description}}
							</div>
						</div>
						<input name="action" value="edit" hidden>

						<button type="submit" class="btn btn-success btn-block" name="edit_submit" >
							<span class="glyphicon glyphicon-save"></span> Guardar cambios
						</button>
					</div>
				</fieldset>
			</form>
			<form name="delete_subject" class="form-horizontal" id="delete_subject"
			 onsubmit="editSubject('delete_seminar'); return false;" action="" method="POST">
				<div class="form-group">
					{% csrf_token %}
					<input name="action" value="delete" hidden>
					<button type="submit" class="btn btn-danger btn-block" name="delete_submit" >
						<span class="glyphicon glyphicon-remove"></span> Eliminar {{subject}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

FORMULARIO DE LA CLASE

<a id="back_to_subject" class="btn btn-danger btn-block" href="/subjects/{{subject.id}}"
	 onclick="ask_ajax_page('/subjects/{{subject.id}}', loadAjaxPage); return false;">
	<span class="glyphicon glyphicon-chevron-left"></span> Volver a {{subject}}
</a>
