
<h2 id="maintitle">Asistencia de alumnos de {{subject}}</h2>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Porcentaje de asistencia</h3>
			</div>
			<ul class="subjects_list list-group classes_list">
				{% for student in students%}
					<a href="/profile/view/{{student.id}}" class="list-group-item"
						onClick="ask_ajax_page('profile', loadAjaxPage, 
							{'iduser': '{{student.id}}'}); return false;" >
						{{student.name}} <strong>{{student.percent}}%</strong>
					</a>
				{% empty %}
					<li class="list-group-item">No hay alumnos matriculados</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
