
<h2 id="maintitle">Estad&iacute;sticas de la asignatura {{subject}}</h2>

<div id="attendance_chart"></div>
<div id="marks_chart"></div>

<script type="text/javascript">
	$('#attendance_chart').highcharts({
		chart: {
			type: 'column',
			margin: [ 50, 50, 100, 80]
		},
		title: {
			text: 'Porcentaje de asistencia a {{subject}}'
		},
		xAxis: {
			categories: [
				{% for lesson in lessons %}
					"{{lesson.start_time|date:'Y-m-d'}}",
				{% endfor %}
			],
			labels: {
				rotation: -45,
				align: 'right',
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif'
				}
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Asistencia (%)'
			}
		},
		legend: {
			enabled: false
		},
		tooltip: {
			pointFormat: 'Asistencia a {{subject}}',
		},
		series: [{
			name: 'Asistencia',
			data: [
					{% for lesson in lessons %}
						{{lesson.checkin_percent|stringformat:'f'}},
					{% endfor %}
				],
			dataLabels: {
				enabled: true,
				rotation: -90,
				color: '#FFFFFF',
				align: 'right',
				x: 4,
				y: 10,
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif',
					textShadow: '0 0 3px black'
				}
			}
		}]
	});

	$('#marks_chart').highcharts({
		chart: {
			type: 'column',
			margin: [ 50, 50, 100, 80]
		},
		title: {
			text: 'Puntuación de las clases de {{subject}}'
		},
		xAxis: {
			categories: [
				{% for lesson in lessons %}
					"{{lesson.start_time|date:'Y-m-d'}}",
				{% endfor %}
			],
			labels: {
				rotation: -45,
				align: 'right',
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif'
				}
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Puntuación (sobre 5)'
			}
		},
		legend: {
			enabled: false
		},
		tooltip: {
			pointFormat: 'Puntuación de {{subject}}',
		},
		series: [{
			name: 'Puntuacion',
			data: [
					{% for lesson in lessons %}
						{{lesson.avg_mark|stringformat:'f'}},
					{% endfor %}
				],
			dataLabels: {
				enabled: true,
				rotation: -90,
				color: '#FFFFFF',
				align: 'right',
				x: 4,
				y: 10,
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif',
					textShadow: '0 0 3px black'
				}
			}
		}]
	});
</script>
