
<h2 id="maintitle">Estad&iacute;sticas de la asignatura {{subject}}</h2>

<div id="cant_show_charts">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Estad&iacute;sticas de las clases</h3>
				</div>
				<ul class="list-group lessons_list">
					{% for lesson in lessons %}
						<li class="list-group-item">
							{{lesson.start_time|date:'Y-m-d'}}:
							asistencia {{lesson.checkin_percent}}%,
							puntuaci&oacute;n {{lesson.avg_mark}}
						</li>
					{% empty %}
						<li class="list-group-item">
							No se han realizado clases de {{subject}}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="attendance_chart"></div>
<div id="marks_chart"></div>
<div id="attendance_pie"></div>
<div id="lessons_done_pie"></div>

<script type="text/javascript">
	$('#cant_show_charts').hide();//Esconde la tabla que esta para navegadores sin javascript
	//Grafica con la asistencia de los alumnos a cada clase
	$('#attendance_chart').highcharts({
		chart: {
			type: 'column',
			margin: [ 50, 50, 100, 80]
		},
		title: {
			text: 'Porcentaje de asistencia a {{subject}}'
		},
		xAxis: {
			categories: [
				{% for lesson in lessons_done %}
					"{{lesson.start_time|date:'Y-m-d'}}",
				{% endfor %}
			],
			labels: {
				rotation: -45,
				align: 'right',
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif'
				}
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Asistencia (%)'
			}
		},
		legend: {
			enabled: false
		},
		tooltip: {
			pointFormat: 'Asistencia a {{subject}}',
		},
		series: [{
			name: 'Asistencia',
			data: [
					{% for lesson in lessons_done %}
						{{lesson.checkin_percent|stringformat:'f'}},
					{% endfor %}
				],
			dataLabels: {
				enabled: true,
				rotation: -90,
				color: '#FFFFFF',
				align: 'right',
				x: 4,
				y: 10,
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif',
					textShadow: '0 0 3px black'
				}
			}
		}]
	});
	//Grafica con la puntuacion media de cada clase
	$('#marks_chart').highcharts({
		chart: {
			type: 'column',
			margin: [ 50, 50, 100, 80]
		},
		title: {
			text: 'Puntuación de las clases de {{subject}}'
		},
		xAxis: {
			categories: [
				{% for lesson in lessons_done %}
					"{{lesson.start_time|date:'Y-m-d'}}",
				{% endfor %}
			],
			labels: {
				rotation: -45,
				align: 'right',
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif'
				}
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Puntuación (sobre 5)'
			}
		},
		legend: {
			enabled: false
		},
		tooltip: {
			pointFormat: 'Puntuación de {{subject}}',
		},
		series: [{
			name: 'Puntuacion',
			data: [
					{% for lesson in lessons_done %}
						{{lesson.avg_mark|stringformat:'f'}},
					{% endfor %}
				],
			dataLabels: {
				enabled: true,
				rotation: -90,
				color: '#FFFFFF',
				align: 'right',
				x: 4,
				y: 10,
				style: {
					fontSize: '13px',
					fontFamily: 'Verdana, sans-serif',
					textShadow: '0 0 3px black'
				}
			}
		}]
	});
	//Grafica con la asistencia media de los alumnos
	$('#attendance_pie').highcharts({
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false
		},
		title: {
			text: 'Asistencia media de los alumnos'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: false
				},
				showInLegend: true
			}
		},
		series: [{
			type: 'pie',
			name: 'Asistencia de alumnos',
			data: [
				['No asisten', 100-{{subject.percent_stud_attend|stringformat:'f'}}],
				{
					name: 'Asisten',
					y: {{subject.percent_stud_attend|stringformat:'f'}},
					sliced: true,
					selected: true
				},
			]
		}]
	});
	//Grafica con la asistencia de los profesores
	$('#lessons_done_pie').highcharts({
		chart: {
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false
		},
		title: {
			text: 'Asistencia de los profesores'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: false
				},
				showInLegend: true
			}
		},
		series: [{
			type: 'pie',
			name: 'Clases impartidas',
			data: [
				['No impartidas', 100.0*({{n_lessons_past}}-{{lessons_done|length}})/{{subject.lesson_set.count}}],
				{
					name: 'Impartidas',
					y: 100.0*{{lessons_done|length}}/{{subject.lesson_set.count}},
					sliced: true,
					selected: true
				},
				['Futuras', 100.0*({{subject.lesson_set.count}}-{{n_lessons_past}})/{{subject.lesson_set.count}}]
			]
		}]
	});
</script>

