{% load admin_static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	<link rel="shortcut icon" href="/img/favicon.ico"/>

	<link href="/css/admin.css" rel="stylesheet" type="text/css"/>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container" class="admin">

    {% if not is_popup %}
    <!-- Header -->
    <div id="menu_bar" class="admin">
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
			<div class="">
				<div class="navbar-header">
					<a href="{% url 'admin:index' %}" class="first navbar-brand">
						{% block branding %}{% endblock %}
					</a>
				</div>
				
					{% if user.is_active and user.is_staff %}
					<div id="user-tools">
						{% trans 'Welcome,' %}
						<strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>.
						{% block userlinks %}
							<a href="/">URJCheckIn</a> /
						    {% url 'django-admindocs-docroot' as docsroot %}
						    {% if docsroot %}
						        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
						    {% endif %}
						    {% if user.has_usable_password %}
						    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
						    {% endif %}
						    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
						{% endblock %}
					</div>
					{% endif %}
					{% block nav-global %}{% endblock %}
				</div>
			</div>
		</header>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
		{% if request.user.is_authenticated %}
			{% if request.path == '/admin/auth/user/' %}
				<div class="module">
					<div>Creaci&oacute;n de usuarios a partir de un fichero CSV</div>
					<form action="csv/" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<input id="csv_users" type="file" name="csv_users">
						<button type="submit">Subir y generar usuarios</button>
						<a href="/csv/users_csv.csv">Descargar plantilla</a>
					</form>
				</div>
			{% elif '/admin/app/subject/' in request.path %}
				{% if request.path != '/admin/app/subject/' and request.path != '/admin/app/subject/add/' %}
					<div class="module">
						<div>A&ntilde;adir usuarios a la asignatura a partir de un fichero CSV</div>
						<form action="csv/" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input id="csv_subject_users" type="file" name="csv_subject_users">
							<button type="submit">Subir y enlazar usuarios</button>
							<a href="/csv/subject_users_csv.csv">Descargar plantilla</a>
						</form>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
